tqdm>=4.62.3,<5
opencv-python-headless>=4.5.5.62,<5
fire>=0.4.0,<0.6.0
webdataset>=0.2.5,<0.3
pandas>=1.1.5,<3
pyarrow>=6.0.1,<16
exifread-nocycle>=3.0.1,<4
albumentations>=1.1.0,<2
dataclasses>=0.6,<1.0.0
wandb>=0.16.0,<0.17
fsspec
s3fs #>=2024.10.0
dnspython #>=2.7.0
#boto3>=1.35.66
redis #>=5.2.0
requests #>=2.25.1
urllib3 #>=1.26.20
cloudpathlib #>=0.20.0
pathlib #>=1.0.1
numpy #>=1.26.4